@model HomeBudgetApp.WebApp.Models.TemplatesModel

@{
    ViewData["Title"] = "Search Users";
}
@section Style{
    <link rel="stylesheet" href="~/css/details.css" />
}

<div class="d-flex justify-content-between align-items-center mt-2">
    <h1>Your templates</h1>
    <div class="d-flex justify-content-end align-items-center">
        <input type="text" class="form-control pr-2" id="search-value" />
        <i id="search" class="bi bi-search" style="color:black; font-size:20px;"></i>
    </div>

</div>
<hr />
@if (Model.Templates == null || Model.Templates.Count == 0)
{
    <h6 class="mt-5">No templates found.</h6>
}
else
{
    <table class="table transactions mt-3 mb-5" style="width:50%; margin:initial;">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Templates)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Details", "Template", new { templateID = item.TemplateID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Categories.Single(c => c.CategoryID == item.CategoryID).Name)
                    </td>
                    <td>
                        <i class="bi bi-wallet2"></i>
                        @Html.ActionLink("Create a Transaction", "CreateFromTemplate", "Transaction",
                            new HomeBudgetApp.WebApp.Models.TransactionFromTemplateModel
                            {
                                RecipientName = item.RecipientName,
                                RecipientAddress = item.RecipientAddress,
                                Model = item.Model,
                                Purpose = item.Purpose,
                                ReferenceNumber = item.ReferenceNumber,
                                Amount = item.Amount,
                                RecipientAccountNumber = item.RecipientAccountNumber,
                                AccountNumber = item.AccountNumber,
                                Type = item.Type
                            })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    <script>
    $('#search').click(function (e) {
        e.preventDefault();

        $.ajax({
            url: '@Url.ActionLink("Search", "Template")',
            method: 'post',
            data: {
                Param: $('#search-value').val()
            },
            success: function (data) {
                window.location.href = data.redirectToUrl;
            },
            error: function () {
                alert("Error");
            }
        });
    });
    </script>
}

