body {
    background-color: gainsboro;
    height: 90vh;
    background-size: cover;
    background-position: center;
    font-weight: 600;
}
.user-info{
    display: flex;
}
img{
    height: 75px;
    width:auto;
    padding-bottom:15px;
}
.row {
    padding-left: 20px;
    color: black !important;
}
h1,h2, h6 {
    color: black !important;
}
.accounts{
    margin-top:20px;
}


.footer .container {
    color: black !important;
}
.account-details{
    display:flex;
    align-items:flex-start;
    color: black !important;
}
.account-row {
    flex-grow: 6;
}
.card-img{
    height:100px;
    width:auto;
}
.payment{
    width: 1000px !important;
    display:flex;
    justify-content:space-between;
}
.final-column{
    display:flex;
    flex-direction:column;
    width: 240px;
}
#add-category,#add-category-edit{
    margin-bottom:20px;
    align-self:flex-end;
}
.create {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
h3,h4,dd,dt{
    color:black !important;    
}
.payment-details {
    width: 1000px !important;
    display: flex;
}
.details-categories {
    margin-left:250px;
}
.btn-add-container{
    display:flex;
    justify-content:flex-end;
    margin-bottom:10px;
}
.btn-add {
    text-decoration: none;
}
.payment-icon{
    height:40px;
    width:auto;
    vertical-align:text-bottom;
}
.custom-select{
    font-weight:600;
}
#charts {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
}
.chart-container {
    display: flex;
    flex-direction: column;
    align-items:center;
}
canvas{
    height:220px;
    width:auto;
}
.search-container{
    padding-bottom:20px;
}
.results {
    width:60%;
    border-collapse: separate;
    border-spacing: 0 1rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    padding-left:50px;
}
    .results > tbody > tr > th:first-child, td:first-child {
        border-left-style: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

.results > tbody > tr > td:last-child {
    border-right-style: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.results > tbody > tr > td, th {
    background-color: whitesmoke;
}
a{
    text-decoration:none !important;
    color: black;
}
dt{
    font-weight:500;
}
.delete-btn:hover {
    cursor: pointer;
    color: #0056b3 !important;
}
.transactions {
    margin: auto;
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 0.4rem;
    margin-top: -1rem;
    padding-bottom:50px;
}

    .transactions > tbody > tr > td:first-child {
        border-left-style: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .transactions > tbody > tr > td:last-child {
        border-right-style: none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    .transactions > tbody > tr > td, th {
        background-color: whitesmoke;
        color:black;
    }
    .transactions th {
        color: black;
    }

#btn-delete-card:hover{
    color:red !important;
    text-decoration:none;
}